     <!-- Main component for a primary marketing message or call to action 

				"siteinfo":{
				"siteid":"1",
				"sitename":"this is the name of the site",
				"siteheading":"this is the site heading phrase",
				"sitedescription":"this is the site description"
			},
			
			"article":{
				"articleid":"1",
				"articletitle":"this is an article title",
				
				"section":[
					{
						"sectionid":"1",
						"sectionheading":"this is one heading",
						"sectionbody":"this is body of section"
						},
					{
						"sectionid":"2",
						"sectionheading":"this is another heading", 
						"sectionbody":"this is body of section"
						}
				]
				
			}
	
 -->

<div class = "container" ng-controller = "mainSiteController">
	<div class = "row">
      
	<div class="col-md-6" >
      <div class="jumbotron" >
      
      		 <h1><span class="glyphicon glyphicon-knight" aria-hidden="true">
      		 	<small>{{info.sitename}}</small></span>
      		 </h1>
      		</div>
      		</div>
      <div class="col-md-6" >
        <h2><a ui-sref="article">{{info.siteheading}}</a></h2>
        <p>{{info.sitedescription}}</p>
    	</div>

    </div> 

 
</div><!-- /container -->